.contact {
  position: relative;
}

.bg-img {
  width: 100vw;
  height: 100vh;
  background: url("../../assets/bgContactForm.jpg") center center no-repeat;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
}
.contact__container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  .form {
    max-width: 40%;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .form__first-line {
      display: flex;
    }

    label {
      display: block;
      font-size: x-small;

    }
    input,textarea {
      border: none;
      border-bottom: 1px solid black;
      font-size: x-small;
    }
    textarea {
      width: 100%;
      height: 5rem;
    }
  }
}