@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

.decoration {
  max-width: 10rem; }

.title {
  font-size: x-large;
  line-height: 2em; }

.big-btn {
  width: 155px;
  height: 60px;
  margin: 1rem;
  border: 1px solid #3C3C3C;
  border-radius: 0;
  background-color: white; }
  .big-btn a {
    text-transform: uppercase;
    text-decoration: none;
    color: #3C3C3C; }
    .big-btn a:hover {
      font-weight: bold;
      transition: 0.5s; }

body {
  font-family: "Open Sans", sans-serif;
  width: 100%; }

.navi {
  display: flex;
  margin-right: 142px; }

.hero-img {
  width: 50%; }

.header_content {
  width: 50%; }

.nav_container {
  display: block; }

.regOrLog {
  width: 50vw;
  margin: 46px 0 34px 0;
  display: flex;
  justify-content: flex-end;
  font-size: 14px; }
  .regOrLog .btn {
    padding: 10px;
    margin: 0 5px; }
    .regOrLog .btn a {
      color: #737373;
      text-decoration: none;
      font-size: smaller; }
    .regOrLog .btn:hover {
      border: 0.75px solid #FAD648;
      transition: 0.5s; }

.menu {
  width: 50vw;
  display: flex;
  justify-content: flex-end; }
  .menu .menu_el {
    margin-left: 55px; }
    .menu .menu_el a {
      color: #3C3C3C;
      text-decoration: none;
      font-size: smaller; }
    .menu .menu_el:hover {
      font-weight: bolder;
      transition: 0.5s; }

.homeHeader {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  text-align: center; }
  .homeHeader p {
    color: #3C3C3C; }
  .homeHeader .buttons {
    display: flex; }

.threeCol {
  width: 100%;
  background-color: #fbcf12;
  display: flex;
  justify-content: space-evenly;
  color: #5E5322; }
  .threeCol .col {
    margin: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .threeCol .col .number {
      font-size: 4rem; }
    .threeCol .col .colTitle {
      text-transform: uppercase;
      line-height: 3rem; }
    .threeCol .col .colTxt {
      font-size: smaller; }

.fourStepsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3C3C3C;
  margin-bottom: 2rem; }
  .fourStepsContainer .fourSteps {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem; }
    .fourStepsContainer .fourSteps .fourStepsTitle {
      margin-top: 2rem;
      margin-bottom: 1rem; }
  .fourStepsContainer .fourCol {
    background-color: #F0F1F1;
    display: flex; }
    .fourStepsContainer .fourCol .fourCol__col {
      margin: 4rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      .fourStepsContainer .fourCol .fourCol__col .icon {
        width: 4rem;
        height: 4rem; }
      .fourStepsContainer .fourCol .fourCol__col .colTitle {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: large; }
        .fourStepsContainer .fourCol .fourCol__col .colTitle::after {
          content: "";
          display: block;
          width: 50px;
          height: 1px;
          background: #3C3C3C;
          flex-grow: 1;
          margin: 1rem; }
      .fourStepsContainer .fourCol .fourCol__col span {
        font-size: smaller; }

.aboutUs {
  display: flex; }
  .aboutUs .aboutUs__content {
    width: 50%;
    background-color: #F0F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .aboutUs .aboutUs__content .aboutUs__text {
      width: 60%;
      text-align: center;
      margin: 3rem 0;
      line-height: 2rem;
      position: relative; }
      .aboutUs .aboutUs__content .aboutUs__text .signature-img {
        width: 6rem;
        position: absolute;
        right: 0;
        bottom: -60%; }
  .aboutUs .people-img {
    width: 50%; }

.orgnizations_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem; }
  .orgnizations_container .organizations__buttons {
    margin-top: 2rem;
    display: flex; }
    .orgnizations_container .organizations__buttons .big-btn {
      border: none; }
  .orgnizations_container .organizations__text {
    width: 35%;
    margin: 2rem 0;
    text-align: center;
    line-height: 1.5em; }

.contact__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background: url("../../assets/bgContactForm.jpg") center center no-repeat;
  background-size: cover;
  opacity: 0.5; }
  .contact__container .form {
    max-width: 40%;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contact__container .form .form__first-line {
      display: flex; }
    .contact__container .form label {
      display: block;
      font-size: x-small; }
    .contact__container .form input, .contact__container .form textarea {
      border: none;
      border-bottom: 1px solid black;
      font-size: x-small; }
    .contact__container .form textarea {
      width: 100%;
      height: 5rem; }

/*# sourceMappingURL=main.css.map */
